# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# OSX misc indexing
.DS_Store

# Excluding all compiled binaries and their folders and logs
for*/
Pack*.html
*.prj

# Excluding test files
Output*
HW*/

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace
